<h2>Welcome to MathyMathy</h2>
<p>You'd be surprised how much you can learn from quizzing and watching youtube.</p>
<hr>
<iframe width="100%" height="400" src="https://www.youtube.com/embed/-wkr_vf18cw"></iframe>
<hr>
<p>If you are a teacher, make an account now.  Spice up some of your lesson plans with our handy quiz-making app.  Or have your students login and create their own quizzes.</p>
<p>Your students are dying to learn new technologies.  Let's show them how it's done.</p>
<hr>
<img width="100%" height="400" src="https://ddsecurity.com/wp-content/uploads/2015/07/Dells-Technology-Training-Program-For-Teachers.jpg">
